<% layout('layouts/boilerplate') %>
<h1 class="text-center">Change Password</h1>
<form action="/users/changePassword" method="POST">
    <div class="mb-3">
        <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Password"
            required
        />
    </div>
    <div class="mb-3">
        <input
            type="password"
            name="passwordConfirm"
            class="form-control"
            placeholder="Confirm Password"
            required
        />
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-danger w-100">
            Change Password
        </button>
    </div>
</form>
