<% layout('layouts/boilerplate') %>
<h1 class="text-center">Forgot Password</h1>
<form action="/users/forgotPassword" method="POST">
    <div class="mb-3">
        <input
            type="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            required
        />
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-danger w-100">Send Email</button>
    </div>
</form>
<p>
    <a href="/users/login">Back to Login</a>
</p>
