<% layout('layouts/boilerplate') %>
<h1 class="text-center">Login</h1>
<form action="/users/login" method="POST">
    <div class="mb-3">
        <input
            type="email"
            name="email"
            class="form-control"
            placeholder="Email"
            required
        />
    </div>
    <div class="mb-3">
        <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Password"
            required
        />
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-danger w-100">Login</button>
    </div>
</form>
<div class="mb-3">
    <a href="/users/signup" class="btn btn-danger w-100">Sign Up</a>
</div>
<p>
    <a class="text-danger" href="/users/forgotPassword">Forgot Password?</a>
</p>
